* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 62.5%;

    color: #222;
}

a {
    text-decoration: none;

    color: inherit;
}

section {
    padding: 10em 0;
}

::selection {
    background-color: #fff000;
}
